.container {
  background-color: palegoldenrod;
  font-size: larger;  
  font-family: Arial, Helvetica, sans-serif;
}

button {
  border: none;
  border-radius: 5px;
}

.formButtons {
  height: 50px;
  width: 100px;
  font-size: 20px;
  font-weight: bold;
}

#addBtn {
 background-color:lime;
 color:darkgreen;
}

#clearBtn {
  background-color: steelblue;
  color: white;
}

.delBtn {
 height: 30px;
 width: 70px;
  font-size: 15px;
  background-color: red;
  color: white;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input {
  flex-grow: 1;
  height: 50px;
  margin-right: 10px;
}

.todoList {
  background-color: white;
  border: 3px solid blue;
  font-size: larger;
  height: 75%;
  margin: 100px 100px 100px 100px;
  padding: 20px;
}

.itemList{
  min-height:50px;
  border: 2px solid grey;
}

.todo {
  display: flex;
  margin: 10 10 15 0;
  padding-bottom: 10px;
  border-bottom: 1px dotted grey;
  justify-content: space-between;
  /* align-content:flex-start; */
}